#chatHistoryBlock {
    width: 100%;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    position:relative;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color:white;
    margin-top: 20px;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#chatHistoryBlock.active
{
    height: 200px;
}

.active .singleChatLine
{
    font-size: 1em;
}

#chat
{
    margin-top: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#chat h5
{
    padding-top: 25px;
}

#chatInputLine
{
    width: calc(100% - 10px);
    margin: 0px;
    border-bottom: 0px;
    margin-bottom: 2px;
}

#chat .row i
{
    padding: 5px 0px;
    margin: 10px 0px;
    cursor: pointer;
}

.singleChatLine
{
    width: 100%;
    max-width: 298px;
    height:auto;
    overflow-y:auto;
    overflow-x:hidden;
    padding:3px 5px;
    background-color: royalblue;
    font-size: 1.5em;
}

.singleChatLine:nth-child(even) {
    background-color: seagreen;
    color:white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}