html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-size:0.8em;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

#main-block {
    width: calc(80% - 300px);
    min-width: 600px;
    margin-top:0px;
    background-color: lime;
    position:absolute;
    margin:0 10%;
    min-height:530px;
    display:flex;
    flex-direction:column;
    margin-top:42px;
    z-index:0;
    
}


body{
    background-color:white;
    z-index:0;
}
#banner{
    background-color:blue;
    width:80%;
    margin:0 10% 0 10%;
    height:150px;
    z-index:5;
}
nav{
    position:absolute;
}
#hauptnav{
    margin-left:10%;
    width:80%;
    list-style-type:none;
    background-color:#111;
    z-index:5;
    position:absolute;
}
#hauptnav ul{
    list-style-type:none;
    display:inline;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#111;
}
#hauptnav ul li{
    display:inline;
    padding:0;
    float:left;
}
#hauptnav ul li a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    background-color:#111;
}
form{
    display:block;
    color:black;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    background-color:#111;
    width:200px;
    height:100%;
}
#hauptnav ul #about-site{
    float:right;
}
#hauptnav ul #about-site a{
    background-color:#4caf50;
}
#hauptnav ul #about-site a:hover{
    background-color:#333;
}
#hauptnav ul li a:hover{
    background-color:#333;
}
	
#container{

}

#sidebar{
    background-color:#111;
    width:300px;
    height:100%;
    min-height:526px;
    position:fixed;
    right:10%;
    top:0px;
    padding-top:194px;
    z-index:0;
}

#sidebar ul{
    list-style-type:none;
    overflow:hidden;
    margin-top:25px;
    
    background-color:#111;
}
#sidebar ul li{
    margin-left:-40px;
}
#sidebar ul li a{
    display:block;
    color:white;
    text-decoration:none;
    position: relative;
    right:0;
    padding:14px 16px;
    background-color:#111;
    text-align:center;
}
#sidebar ul li a:hover{
    background-color:#4caf50;
}


.blogeintraege{
    background-color:yellow;
    margin-left:10%;
    margin-top:10px;
    width:80%;
    min-width:600px;
    max-width:1500px;
    min-height:250px;
    float:left;
    text-align:center;
    position:relative;
}
.ueberschrift{
    font-size:50px;
    font-weight:bold;
}
.content{
    padding:14px 16px;
}
.lastline{
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:#111;
    width:100%;
    height:20px;
    text-align:right;

}
.lastline ul{}
.lastline ul li{
    list-style-type:none;
    overflow:hidden;
    display:inline;
    padding:14px 16px;
    text-size:30px;
}
.lastline ul li a{
    text-decoration:none;
    color:white;
    text-weight:bold;
}
.lastline a:hover{
    background-color:#4caf50;
}
	
.rechtsausschluss{
    margin-top:20px;
    margin-right:150px;
    margin-left:20px;
}

.loginform{
    position: fixed;
    height:100px;
    width:200px;
    right:10%;
    top:0;
    z-index: 100;
    background-color:pink;
}
