html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-size:0.8em;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

#main-block {
    width: calc(80% - 300px);
    min-width: 600px;
    margin-top:0px;
    background-color: lime;
    position:absolute;
    margin:0 10%;
    min-height:530px;
    display:flex;
    flex-direction:column;
    z-index:0;
    
}


body{
    background-color:white;
    z-index:0;
}
.banner{
    background-color:blue;
    width:80%;
    margin:0 10% 0 10%;
    height:150px;
    z-index:5;
    border-bottom: 2px solid black;
}
.banner img{
    width:100%;
    margin: 0 0 0 0;
}
nav{
    position:relative;
    
    margin:0 10% 0 10%;
    width:80%;
    z-index:5;
}

nav ul li span
{
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    cursor: default;
    font-weight: bold;
}

nav ul li a, nav ul li span {
    padding: 0px 30px;
}


/*
#hauptnav ul{
    list-style-type:none;
    display:inline;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#111;
}
#hauptnav ul li{
    display:inline;
    padding:0;
    float:left;
}
#hauptnav ul li a{
    display:block;
    color:white;
    text-align:center;
    padding:0px 30px;
    text-decoration:none;
    background-color:#111;
}

#hauptnav ul #about-site{
    float:right;
}
#hauptnav ul #about-site a{
    background-color:#4caf50;
}
#hauptnav ul #about-site a:hover{
    background-color:#333;
}
#hauptnav ul li a:hover{
    background-color:#333;
}*/

.adminFirstEntry a
{
    border-left: 2px solid white;
}
	
#container{

}

#sidebar{
    background-color:#111;
    width:300px;
    height:100%;
    min-height:526px;
    position:fixed;
    right:10%;
    top:0px;
    padding-top:194px;
    z-index:0;
}

#sidebar ul{
    list-style-type:none;
    overflow:hidden;
    margin-top:25px;
    
    background-color:#111;
}
#sidebar ul li{
    margin-left:-40px;
}
#sidebar ul li a{
    display:block;
    color:white;
    text-decoration:none;
    position: relative;
    right:0;
    padding:14px 16px;
    background-color:#111;
    text-align:center;
}
#sidebar ul li a:hover{
    background-color:#4caf50;
}


.blogeintraege{
    background-color:yellow;
    margin-left:10%;
    margin-top:10px;
    width:80%;
    min-width:600px;
    max-width:1500px;
    min-height:250px;
    float:left;
    text-align:center;
    position:relative;
}
.ueberschrift{
    font-size:50px;
    font-weight:bold;
}
.content{
    padding:14px 16px;
}
.lastline{
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:#111;
    width:100%;
    text-align:right;

}
.lastline ul{}
.lastline ul li{
    list-style-type:none;
    overflow:hidden;
    display:inline;

    text-size:30px;
}
.lastline ul li a{
    text-decoration:none;
    color:white;
    padding:14px 16px;
    text-weight:bold;
}
.lastline a:hover{
    background-color:#4caf50;
}
	
.rechtsausschluss{
    margin-top:20px;
    margin-right:150px;
    margin-left:20px;
}

.submitBtn
{
    width: 100%;
}

input[type=text],
input[type=password]
{
    color: white;
    width: calc(100% - 10px);
    margin-left: 5px;
}

.loginform a{
    color:white;
}
/*

.loginform{
    background-color:#111;
    padding-bottom: 15px;
    
}
.loginform form{
    margin-top:5px;
    margin-bottom: 5px;
    width:100%;

}
.loginform form input{
    display: inline;
    width:30%;
    padding:5px 0px;
    margin: 0 0px 0 5px;
}
.loginform form button{
    padding:5px 16px;
    margin-left:5px;
    background-color:white;
    color:black;
    display: inline-block;
    border:1px #4caf50 solid;
    -webkit-transition-duration: 0.4s;
}
.loginform form button:hover{
    background-color: #4caf50;
    color:white;
    border: 1px white solid;
}
.loginform a{
    float:left;
    padding:5px 8px;
    color:white;
    text-decoration: none;
    display: block;

}
.loginform a:last-child{
    padding-left:25px;
}
.loginform a:hover{
    text-decoration:underline;
    color:#4caf50;
}*/
@media (max-width:1241px){
    body{
        /*overflow:;*/
    }
    .banner{
        margin-left:0;
        width:100%;
    }
    #main-block{
        margin-left:0;
        
    }
    #hauptnav{
        margin-left:0;
        width:100%;
    }
    #sidebar{
        right:0;
    }
    #main-block{
        width:calc(100% - 300px);
        display: inline-block;
    }
    .blogeintraege{
    background-color:#6f6f6f;
    margin-left:1%;
    margin-top:10px;
    width:48%;
    min-width:250px;
    max-width:1500px;
    min-height:250px;
    float:left;
    text-align:center;
    position:relative;
}
.ueberschrift{
    font-size:50px;
    font-weight:bold;
}
.content{
    padding:14px 16px;
}
.lastline{
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:#111;
    width:100%;
    text-align:right;

}
.lastline ul{}
.lastline ul li{
    list-style-type:none;
    overflow:hidden;
    display:inline;

    text-size:30px;
}
.lastline ul li a{
    text-decoration:none;
    color:white;
    padding:14px 16px;
    text-weight:bold;
}
.lastline a:hover{
    background-color:#4caf50;
}
}
