#main-block .row:first-child
{
    margin-top: 10px;
}

.btnSmall
{
    width: 75px;
}

.iconBlock
{
    border-radius: 4px;
    padding: 2px;
}

.requestActivatedOnce
{
    background-color: yellow;
}

.activated
{
    background-color: lawngreen;
}

.deactivated
{
    background-color: red;
}

.pageBtn
{
    padding: 0 15px;
    min-width:45px;
}

#pagination
{
    margin-top:15px;
}

.pageElement
{
    cursor: default;
}